@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 about">
        <p>You can reach me on Twitter <a href="http://twitter.com/JohnHovanec">@@JohnHovanec</a>.</p>
    </div>
</div>
