@{
    ViewBag.Title = "Home";
}

<div class="header">
    <img src="~/images/me_3.jpg" class="img-circle logo" width="85px" />
    <h1>Hi, I'm John Hovanec</h1>
    <p class="lead">I build for the web, and think technology, creativity, and problem solving go hand-in-hand.</p>
</div>

<div class="row">
    <div class="col-md-12 lower-content">
        <div class="col-md-4 lower-div">
            <h2>What I do</h2>
            <p>
                I currently work as a full-stack developer maintaining and developing .NET and ASP applications.
                I handle a mix of everything from JavaScript and CSS to writing stored procedures for SQL Server and building ASP and .NET functionality.
            </p>
            <p>In my current job I've worked with:</p>
            <ul>
                <li>ASP, ASP.NET MVC, and WebForms</li>
                <li>Windows Authentication integration with Active Directory</li>
                <li>JavaScript, CSS, and HTML</li>
                <li>SQL Server and T-SQL</li>
                <li>IIS Configuration</li>
                <li>Bootstrap and jQuery</li>
                <li>Python and Bash scripting</li>
            </ul>
        </div>
        <div class="col-md-4 lower-div">
            <h2>Projects</h2>
            <p>
                I have a number of project sites running on various platforms.
                Currently, I am running a .NET MVC application built with Entity Framework and LINQ. It was also used
                to test deployment to Azure directly from Bitbucket.
            </p>
            <p>
                I also have a MEAN stack application built using AngularJS with MongoDB. I started this project using 
                jQuery and then migrated it to AngularJS which was a great learning experience.
            </p>
            @*<p>
                    Here's a <a href="http://devicehardware.azurewebsites.net/">.NET MVC application</a> I built to explore the Entity Framework,
                    paging, filtering with LINQ, and deployment to Azure.
                </p>*@
            @*<p>
                    I also have a MEAN stack application built with AngularJS to explore paging and AJAX calls with MongoDB.

                    In addition, I have a Ruby on Rails site built as a software engineering class group project that includes
                    a custom Bootstrap theme and a good deal of Active Record queries.

                    Both sites require authentication to access. Contact me via Twitter <a href="http://twitter.com/JohnHovanec">@@JohnHovanec</a> if you'd like to see more.
                </p>*@
            <p>
                I'm also working on building some React test projects which should be up soon.
            </p>
            <p>
                Contact me via Twitter <a href="http://twitter.com/JohnHovanec">@@JohnHovanec</a> if you'd like to see more.
            </p>
        </div>
        <div class="col-md-4 lower-div">
            <h2>Learning</h2>
            <p>
                I love learning new technologies. I'm currently pursuing a master's degree in Computer Science with an anticipated completion
                date in the fall of 2018. When I'm not working on my degree, I like to explore new technologies and broaden my skill set. My current interests include:
            </p>
            <ul>
                <li>React</li>
                <li>.NET Core</li>
                <li>Node</li>
                <li>One day I will actually read my Scheme book</li>
            </ul>
        </div>
    </div>
</div>